{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
	<form method="POST">
		{% csrf_token %}
		<p>{{ login_form.username.label }}</p>
		<p>{{ login_form.username }}</p>

		<p>{{ login_form.password.label }}</p>
		<p>{{ login_form.password }}</p>

		{% if messages %}
			{% for message in messages %}
					<p>{{ message }}</p>
			{% endfor %}
		{% endif %}
		
		<input type="submit" value="Sign in">
	</form>
	<p><a href="{% url 'register' %}">Create an account</a></p>
{% endblock %}
